body{
    background-color: lightgray;
}

h1{
    margin-top: 50px;
    padding-left: 10px;
    font-family: "Times New Roman"!important;
    border: solid;

}
button{
    margin-top: 30px;

}
.row{
    margin-left: 25px;
}
#url{
    width: 600px;
}
textarea{
    width: 300px;
}
#tokenDisplay{
    color: #2ca02c;
}
